extends layout

block content
  div.wrapper
    h1.title  Последние новости
    for newsItem in newsArr
      div.news-item
        h3.title #{newsItem.title}
        p #{newsItem.description}
        if newsItem.imgsArr.length>0
          for url in newsItem.imgsArr
            img(src=url)
        div 
          a.link-news(href=newsItem.url) Подробнее...
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/js/main.js")
