*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3efef;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #10475d;
  text-decoration: underline;
}

.wrapper {
  height: 100vh;
  padding: 20px;
}

.title, .link {
  text-align: center;
}

.title {
  margin-bottom: 15px;
}

.link {
  font-size: 16px;
  display: block;
  margin: 20px;
}

.news-item {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

img {
  height: 8em;
}